<aside class="sidebar static">
    <div class="widget">
        <h4 class="widget-title">Quickies</h4>
        <ul class="naves">
            <li>
                <i class="fas fa-user-friends"></i>
                <a href="/friends">

                    Friends</a>
            </li>
            <li>
                <i class="fab fa-facebook-messenger"></i>
                <a href="/inbox">Inbox</a>
            </li>
            <li>
                <i class="fas fa-bell"></i>
                <a href="/notifications">Notifications</a>
            </li>
            <li>
              <i class="fas fa-user"></i>
              <a href="/updateProfile">Update Profile</a>
            </li>
        </ul>
    </div>
</aside>
