.fileContainer {
    color: #d8d8d8;
    font-size: 11px;
    margin: 0 0 0 5px;
    position: relative;
    text-transform: capitalize;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0px;
    text-align: right;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.edit-phto .fileContainer [type="file"] {
    height: 35px;
    top: -11px;
    width: 126px;
}

.central-meta {
    background: #fdfdfd none repeat scroll 0 0;
    border: 1px solid #ede9e9;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 25px;
}
.central-meta button.btn-view {
    background: #f1f1f1;
}
.new-postbox {
    display: inline-block;
    width: 100%;
}

.new-postbox > figure  {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
    width: 10.4%;
    
}
.new-postbox>figure{
    float: left;
}

.newpst-input {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    width: 85.5%;
}

.newpst-input > form{
    display: inline-block;
    width: 100%;
}
.newpst-input textarea {
    /* position: absolute; */
    /* left: 20px; */
    width: 100%;
}
.attachments {
    /* position: relative; */
    border: 1px solid #eee;
    display: block;
    /* padding: 10px; */
    text-align: right;
    border-top: 0;
    background: #fff;
}

.attachments > ul {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}

.attachments li {
    display: inline-block;
    margin-left: 5px;
}
.attachments .fileContainer [type="file"] {
    right: 6px;
    top: -18px;
    width: 20px;
}
.comments{
    color : blue ;
    display : none; 
  }
  
  .viewcommentsBtn{
    background-color: #4d84e2;
    color: white ;
  }

.post-box{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 23px;
}

.user-pic {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    color: #e7cb5c;
    border: 4px solid;
}